


.p02 {
    color:wheat;
}

h1 {

    
    color: cyan;
    text-decoration: underline;
}


#p01 {
    /* paragraph color" */
    color:hotpink;

}

/*!important er priority always beshi
*/
.p01 {

    color: green !important;
    text-align: center;
    text-decoration: line-through;
}



h6 {
    color: peru;
}
/*id er priority class theke beshi.multiple class hole nicher tar priority beshi */

body {
    background-image: url("backimage.jpg");
  
    color: white
}

.h2-div {
    color:burlywood ;
}

.h2-div2 {
    color: red;
}

#h2-div {
    color:yellowgreen;
}

.box {
/* top bottom , right-left 2ta value nile */
/* 3ta nile top, right, bottom e nibe and right er ta left eo nibe */
    padding: 10px 20px;
    color: wheat
}

p.mix {
    border-style: dotted dashed solid double;
    color: whitesmoke;
    border-color: red green blue yellow;
    
    height: 40px;
    width: 50%;   padding: 100px 20px;
    background-position-x: 90ch;
    outline: 1px solid rgb(255, 166, 0);
    outline-offset: 15px;
    margin-left: 22%;
}

p.capitalize {
    line-height: 0.7;
    text-transform: capitalize; text-indent: 50px;  letter-spacing: -3px;
    color: white;
  }

  p.uppercase {
    text-transform: uppercase; letter-spacing: 3px;  line-height: 2.8;
    color: white;
  }
  
  p.lowercase {
    text-transform: lowercase;  padding: 20px;   line-height: 0.7;direction: rtl;
    word-spacing: 10px;
    text-shadow: 3px 2px whitesmoke;
  }

  /* link */
  /* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  .clearfix {
    overflow: auto;
  }
  
  #img0 {
    float: right;
    margin: 30px;
}

  /* all about tables */

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
   
  }
  
  tr:hover {
      background-color:crimson ;
    }
    th {
        background-color: #4CAF50;
        color: white;
      }


 .sticky {
          
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  padding: 5px;
  background-color: tomato;
  border: 2px solid #4CAF50;
      }

#img1 {
        position: absolute;
        z-index: -1; 
        margin:30px;
        height:30px;
        width: 50%;
      }

#scroll  {
        background-color:lightseagreen;
        width: 200px;
        height: 50px;
        border: 1px dotted black;
        overflow: auto;
        left: 900px;
        padding: 20px;
        margin-top:30px;

      }


/* combinators */
      div > p {
        background-color:peru;
      }
      div + p {
        background-color: rgb(42, 8, 138);
      }

      div ~ p {
        color: rgba(22, 70, 175, 0.336);
      } 
      div {
        color:black;
        color: white;
        padding: 25px;
        text-align: center;
    
      }

      div:hover {
        background-color:rgb(32, 50, 100);
 
      }
/* pseudo class */
      p.p06 {
        display: none;
        background-color: rgb(114, 90, 170);
        padding: 20px;
      }
      div:hover .p06 {
        display: block;
      }
/* pseudo elem */
      p i:first-child {
        color: blue;
      } 
      p::first-letter {
        color: #ff0000;
        font-size: xx-large;
      }
      p::first-line {
        font-variant: small-caps;
      }
      h6::before {
        content: url(smiley.gif);
        height: 50px;
        width: 50px;
      }

      /*opacity css */

      img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50); 
      }
      .first {
        opacity: 0.1;
        filter: alpha(opacity=10);
      }
      
      .second {
        opacity: 0.3;
        filter: alpha(opacity=30); 
      }
      
      .third {
        opacity: 0.6;
        filter: alpha(opacity=60); 
      }

h3 {

    background-color: rgb(92, 14, 85);
    padding: 10px;
}

/* nev menu */


a.active {
     background-color: #4CAF50;
 }

/*dropdown*/
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

/* spliting image */

#home {
  width: 46px;
  height: 44px;
  background: url(img_navsprites.gif) 0 0;
}

#next {
  width: 43px;
  height: 44px;
  background: url(img_navsprites.gif) -91px 0;
}

[class^="top"] {
  background: black;
}

/* form */
#f1{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
 
}

#s1 {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
/*layout */
.header {
  background-color: #030303;
  padding: 20px;
  text-align: center;
}

.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 800px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
@media screen and (max-width: 400px) {
  ul {
    float: none;
    width: 100%;
  }
}