.p02 {
    color: blueviolet;
}
p{

    text-align: center;
  
}
h1 {

    text-align: center;
    color: cyan;
 
    text-decoration: underline;
}


#p01 {
    /* paragraph color" */
    color:hotpink;

}

/*!important er priority always beshi
*/
.p01 {

    color: green !important;
    text-align: center;
    text-decoration: line-through;
}



h6 {
    color: peru;
}
/*id er priority class theke beshi.multiple class hole nicher tar priority beshi */

body {
    background-image: url("backimage.jpg");
    text-align: center;
    color: white
}

.h2-div {
    color:burlywood ;
}

.h2-div2 {
    color: red;
}

#h2-div {
    color:yellowgreen;
}

.box {
/* top bottom , right-left 2ta value nile */
/* 3ta nile top, right, bottom e nibe and right er ta left eo nibe */
    padding: 10px 20px;
    color: wheat
}

p.mix {
    border-style: dotted dashed solid double;
    color: whitesmoke;
    border-color: red green blue yellow;
    background-color: black;
    height: 40px;
    width: 50%;   padding: 100px 20px;
    background-position-x: 90ch;
    outline: 1px solid rgb(255, 166, 0);
    outline-offset: 15px;
    margin-left: 22%;
}

p.capitalize {
    line-height: 0.7;
    text-transform: capitalize; text-indent: 50px;  letter-spacing: -3px;
  }

  p.uppercase {
    text-transform: uppercase; letter-spacing: 3px;  line-height: 2.8;
  }
  
  p.lowercase {
    text-transform: lowercase;  padding: 20px;   line-height: 0.7;direction: rtl;
    word-spacing: 10px;
    text-shadow: 3px 2px whitesmoke;
  }

  /* link */
  /* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  
  img {
      float:right;
  }